<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #mainheading{
            text-align: center;
            color: rgb(19, 56, 56);
        }
    </style>
</head>
<body>
    <h1 id="mainheading">Signup</h1>

    <form method="POST" action="/user/signup">

        <label for="name">Enter Username</label>
        <input type="text" name="name" id="_name">
        <br>
        <label for="email">Enter Email</label>
        <input type="email" name="email" id="e_mail">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="pass">
        <br>
        <input type="submit" value="SignUp">
    
    </form>
</body>
</html>